#tweetShower-ul {
  list-style-type: none;
  font-family: "Noto Sans", sans-serif;
  background-color: white;
  padding: 0;
  margin-top: 10px;
  position: relative;
  margin-left: 250px;
  margin-right: 10px;
  min-height: 90%;
  width: 65%;
  max-width: calc(100% - 250px);
  box-sizing: border-box;
}

#tweetShower-button {
  background-color: #e62143;
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  margin-right: 10px;
  border-radius: 24px;
  float: right;
  clear: both;
}

#tweetShower-li {
  padding: 2px;
  overflow-wrap: break-word;
  max-width: 100%;
  clear: both;
}


